.main
  .teams
    - @teams.each do |team|
      .teams__team
        .teams__team__logo
          = attachment_image_tag team, :image
        .teams__team__name
          = team.name.upcase
        .teams__team__link  
          = link_to "チャット", chat_team_path(team.id), class: "teams__team__link__btn"
          = link_to "選手一覧", team_path(team), class: "teams__team__link__btn"
        
        