.main
  .common-form
    %h1.common-form__title
      新規チーム登録
    - if @team.errors.any?
      .error-message
        %ul
          - @team.errors.full_messages.each do |message|
            %li
              = message
    = render partial: "form"
