.main
  .blog-form 
    %h1.blog-form__title
      ブログ編集
    - if @blog.errors.any?
      .error-message
        %ul
          - @blog.errors.full_messages.each do |message|
            %li
              = message
    = render partial: "form"