.shutter

.slider
  .slider__contents
    %img.slider__contents__content{:src => "assets/soccer1.jpg"}/
  .slider__contents
    %img.slider__contents__content{:src => "assets/soccer2.jpg"}/
  .slider__contents
    %img.slider__contents__content{:src => "assets/soccer3.jpg"}/