//ブログ一覧
.blogs {
  width: 800px;
  height: 650px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #F2F2F2;
  h1{
    font-size: 25px;
    border-bottom: 1px solid black;
  }
  &__list {
    height: 580px;
    overflow: scroll;
    border-radius: 10px;
    &__blog {
      width: 750px;
      height: 100px;
      display: flex;
      margin: 10px auto 0px auto;
      background-color: gray;
      color: white;
      border-radius: 5px;
      &__title {
        width: 50%;
        line-height: 100px;
        > a{
          color:white;
        }
      }
      &__info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &__user {
          > a{
            color: white;
          }
        }
      }
    }
  }
}

//ブログ詳細
.blog {
  display: flex;
  &__main {
    width: 800px;
    height: 400px;
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F2F2F2;
    &__title {
      font-size: 25px;
      text-align: center;
      color: black;
      border-bottom: 1px solid gray;
    }
    &__contents {
      width: 800px;
      height: 355px;
      overflow: scroll;
    }
  }
  //右のナヴィ
  &__info {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 5px;
    text-align: center;
    background-color: #F2F2F2;
    &__name {
      color: black;
      margin-bottom: 5px;
    }
    &__create{
      margin-bottom: 5px;
    }
    &__like {
      display: flex;
      justify-content: space-around;
    }
  }
}
.blog__info__like__icon__already {
  font-size: 20px;
  color: red;
}

.blog__info__like__icon__none {
  font-size: 20px;
  color: black;
  opacity: 0.5;
}

//コメント
.blog--comments {
  width: 800px;
  height: 270px;
  margin-left: 100px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 10px;
  background-color: #F2F2F2;
  h1 {
    color: black;
    text-align: center;
  }
  &__box {
    height: 80%;
    border-top: 1px solid black;
    overflow: scroll;
    &__comment {
      display: flex;
      background-color: gray;
      justify-content: space-between;
      width: 750px;
      margin: 0 auto;
      margin-bottom: 10px;
      border-radius: 5px;
      background-color: white;
      &__info {
        &__name {
          color: black;
        }
      }
    }
  }
  &__form {
    margin-top: 5px;
    height: 20%;
    text-align: center;
  }
}

//フォーム
.blog-form {
  width: 400px;
  margin: 0px auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F2F2F2;
  &__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  &__team {
    text-align: center;
    margin-bottom: 10px;
  }
  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;

  }
  &__submit {
    text-align: center;
  }
}