//試合一覧
.match__title {
  h1{
    text-align: center;
    font-size: 25px;
  }
}
.match__list{
  table {
    background-color: $light-gray;
    margin: 0 auto;

    tr{
      border: $border-black;
      .width100 {
        width: 100px;
      }
      .width350 {
        width: 350px;
      }
      .team {
        a{
          width: 100%;
          height: 100%;
          display: block;
          text-decoration: none;
          .team_logo {
            width: 30px;
            height: 30px;
            float: left;
            margin: 10px 0px 0px 5px;
            img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
          .team_name {
            float: right;
            width: calc(100% - 40px);
            line-height: 50px;
          }
        }
        &:hover {
          background-color: $sky-blue;
          opacity: 0.8;
        }
      }
    }
    th, td {
      text-align: center;
      width: 200px;
      height: 50px;
      border: $border-black;
      > a{
        color: $black;
      }
    }
  }
}

