//試合一覧
.match__title {
  h1{
    text-align: center;
    font-size: 25px;
  }
}
.match__list{

  table {
    background-color: $light-gray;
    margin: 0 auto;
    tr{
      border: $border-black;
    }
    th, td {
      text-align: center;
      width: 200px;
      height: 40px;
      border: $border-black;
      > a{
        color: $black;
      }
    }
  }
}

