//選手入力
.player-form {
  width: 400px;
  margin: 0px auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #F2F2F2;
  &__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid black;

  }
  &__team {
    text-align: center;
    margin-bottom: 10px;
  }
  &__input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__submit {
    text-align: center;
  }
}