//チーム一覧
.teams {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: scroll;
  &__team {
    width: 420px;
    height: 300px;
    text-align: center;
    border: $border-black;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: $light-gray;
    &__name {
      font-size: 20px;
      font-family: serif;
    }
    &__link {
      display: flex;
      justify-content: space-around;
      &__btn {
        display: block;
        background-color: $black;
        width: 150px;
        height: 40px;
        text-decoration: none;
        color: $white;
        line-height: 40px;
        margin: 0 auto;
        margin-top: 5px;
        border-radius: 10px;
      }
    }
  }
}

//コメント
.comments-box{
  width: 800px;
  height: calc(100vh - 100px);
  margin-left: 350px;
  border: $border-black;
  border-radius: 10px;
  .comments {
    width: 100%;
    height: calc(100% - 80px);
    overflow: scroll;
    background-color: $light-gray;
    
    &__comment {
      border-radius: 5px;
      align-items: center;
      margin: 10px auto;
      width: 750px; 
      display: flex;
      justify-content: space-between;
      border: $border-black;
      background-color: $white;
    }
  }

  //コメント送信
  .comment__form {
    width: 100%;
    height: 70px;
    background-color: $light-gray;
    .new_comment {
      height: 100%;
      .form__box{
        display: flex;
        padding-left: 100px;
        padding-top: 20px;
        &__label {
          display: none;
        }
        &__text-field {
          width: 400px;
          height: 40px;
        }
        &__btn {
          display: block;
          margin-left: 40px;
          height: 40px;
          width: 60px;
          background-color: $white;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
    &__message {
      width: 100%;
      height: 100%;
      h1 {
        text-align: center;
      }
      &__box {

        width: 50%;
        margin: 15px auto 0;
        justify-content: space-between;
        display: flex;
        &__btn {
          a {
            padding: 10px 5px;
            text-decoration: none;
            border: $border-black;
            background-color: $white;
            color: $black;
          }
        }
      }
    }
  }
}
//チーム紹介
.detail{
  width: 300px;
  height: 600px;
  float: left;
  border: $border-black;
  text-align: center;
  position: absolute;
  background-color: $light-gray;
  border-radius: 10px;
  &__info {
    margin-top: 10px;
    &__player {
      margin: 0 auto;
      text-decoration: none;
      color: $black;
      width: 100px;
      height: 50px;
      line-height: 50px;
      background-color: $white;
      border-radius: 10px;
      cursor: pointer;
      border: $border-black;
    }
  }
  &__edit {
    margin-top: 50px;
    display: flex;
    &__link {
      margin: 0 auto;
      text-decoration: none;
      color: $black;
      width: 100px;
      height: 50px;
      line-height: 50px;
      display: block;
      border-radius: 10px;
      border: $border-black;
      background-color: $white;
    }
  }
}



//シークレットボタン
.player-info {
  width: 300px;
  height: 600px;
  float: left;
  color: $black;
  text-align: center;
  position: absolute;
  display: none;
  background-color: $light-gray;
  border-radius: 10px;
  border: $border-black;
  &__list{
    width: 280px;
    height: 500px;
    overflow: scroll;
    table {
      tr {
        th {
          text-align: center;
        }
      }
    }
  }
  &__back {
    margin: 10px auto 0px auto;
    text-decoration: none;
    color: $black;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: $border-black;
    background-color: $white;
  }
}


//選手一覧
.team-lists {
  text-align: center;
  border: $border-black;
  border-radius: 10px;
  background-color: $light-gray; 
  h1 {
    font-size: 25px;
    background-color: $light-gray;
    width: 400px;
    margin: 0 auto;
  }
  &__list {
    overflow: scroll;
    height: 648px;
    width: 1000px;
    border-top: $border-black;
    margin: 0 auto;
    &__player {
      &__edit {
        background-color: $black;
        > a{
          text-decoration: none;
          color: $white;
        }
      }
      table {
        margin: 0 auto;
        overflow: scroll;
        tr {
          th{
            padding: 5px;
            text-align: center;
            border: $border-black;
          }
          td{
            padding: 5px;
            text-align: center;
            border: $border-black;
          }
        }
      }
    }
    &__maneger {
      &__edit {
        background-color: $black;
        > a{
          text-decoration: none;
          color: $white;
        }
      }
      table {
        margin: 0 auto;
        overflow: scroll;
        tr {
          th{
            padding: 5px;
            width: 150px;
            text-align: center;
            border: $border-black;
          }
          td{
            padding: 5px;
            text-align: center;
            border: $border-black;
          }
        }
      }
    }
  }
}



