@import "reset";
@import "modules/teams";
@import "modules/comments";
@import "modules/users";
@import "modules/players";
@import "modules/manegers";
@import "modules/blogs";


header {
  height: 80px;
  width: 100%;
  display: flex;
  background: linear-gradient( #05FBFF, #1E00FF);
  .header__left {
    width: 20%;
    text-align: center;
    line-height: 80px;
    &__title {
      text-decoration: none;
      font-size: 30px;
      color: white;
    }
  }
  .header__right {
    width: 80%;
    padding-top: 15px;
    padding-right: 50px;
    &__btn {
      background-color: white;
      height: 40px;
      width: 100px;
      float: right;
      margin-right: 50px;
      text-align: center;
      line-height: 40px;
      border-radius: 10px;
      a{
        display: block;
        text-decoration: none;
        color: black;
      }
    }
  }
}

.main {
  width: 1100px;
  height: calc(100vh - 80px);
  margin: 0 auto;
}
